################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/project2_multiplayer_yahtzee/FileContentIndex/merges
/.vs/project2_multiplayer_yahtzee/FileContentIndex
/.vs/ProjectEvaluation
/.vs/project2_multiplayer_yahtzee/v17/.suo
/.vs/project2_multiplayer_yahtzee/v17/.futdcache.v2
*.v2
